html{
    /*background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(165,40,179,1) 34%, rgba(155,50,184,1) 38%, rgba(148,58,187,1) 41%, rgba(135,71,193,1) 46%, rgba(128,79,196,1) 49%, rgba(98,110,210,1) 61%, rgba(0,212,255,1) 100%);
*/
background: grey;
}

/* div{
    width: 200px;
    height: 200px;
} */

#bilanz-table{
    background-color: #fff !important;
    border: 1px solid black;
    border-collapse: collapse;
    opacity: 0.8;
}
.middle-border{
    border-left: 1px black solid !important;
} 

#white-text{
    color: #fff;
}
#modal1 {
    position: absolute;
    height: 600px;
    width: 500px;
    margin: -100px 0 0 -200px;
    top: 50%;
    left: 50%;
    background: rgb(0,212,255);
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(48,86,199,1) 20%, rgba(128,77,200,1) 36%, rgba(155,50,184,1) 54%, rgba(135,71,193,1) 63%, rgba(148,58,187,1) 74%, rgba(165,40,179,1) 84%);
}
.modal-content{
    background-color: #fff !important;
    margin: 10px;
    opacity: 0.8;
}

.btn-floating-cancel {
    display: inline-block;
    /* color: #fff; */
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    background-color: #10aaec;
    border-radius: 50%;
    -webkit-transition: .3s;
    transition: .3s;
    cursor: pointer;
    vertical-align: middle;
    margin-left: 440px;
    margin-top: 5px;
  }
  .act-pas-btn{
      width: 140px;
      border-radius: 10px;
  }

  .purple-blue-gra{
    background: rgb(34,167,195);
    background: linear-gradient(322deg, rgba(34,167,195,1) 0%, rgba(51,145,196,1) 13%, rgba(119,61,200,1) 30%, rgba(80,109,198,1) 51%, rgba(106,77,199,1) 67%, rgba(47,150,196,1) 76%, rgba(143,32,201,1) 100%);
  }

  select {
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    padding: 5px;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    height: 3rem;
  }
  
  .input-field > select {
    display: block;
    position: absolute;
    width: 0;
    pointer-events: none;
    height: 0;
    top: 0;
    left: 0;
    opacity: 0;
  }
  
